{% extends "base.html" %}
{% load static %}
{% block title %} 0x686REYES{% endblock title %}
{% block content %}
<div class="site-content">
      <section class="about-section center-row">
            <div class="about-image-container">
                  <img src="{% static 'img/placeholder.jpeg' %}" alt="">
            </div>
            <div class="about-description-container">
                  <h1>Emiliano Magana</h1>
                  <h2>Full Stack Developer</h2>
                  <p>Hi, I’m Emiliano Magana – a full-stack developer and electronics engineer with a passion for creating simple, efficient solutions and intuitive, elegant interfaces. My mission is to help clients bring their ideas to life through clean, effective design and robust functionality.</p>
                  <p>With a strong foundation in both hardware and software, I believe in the power of free and open communications to drive innovation and collaboration. Whether it's crafting a dynamic web application, troubleshooting complex systems, or mentoring others, I bring a solutions-oriented mindset to every project.</p>

                  <div class="skills-container center-column">
                        <h2>My Skills</h2>
                        <div class="skills-list center-row">
                              <label for="" class="text-label">Effective Communicator</label>
                              <label for="" class="text-label">English/Spanish</label>
                              <label for="" class="text-label">Team-worker</label>
                              <label for="" class="text-label">Javascript</label>
                              <label for="" class="text-label">Python</label>
                              <label for="" class="text-label">Django</label>
                        </div>
                  </div>
            </div>
      </section>
</div>

{% endblock content %}